@charset "UTF-8";

/* 小屏幕样式 */

header { height: 75px; background: url(../images/banner_small.jpg) no-repeat right 0; }

header a.logo { 
	width: 105px;
	height: 40px;
	top: 16px;
	right: 15px;
	background-image: url(../images/logo_small.png);
}

article { padding: 20px 20px 10px 20px; }

nav { 
	position: static;
	padding: 10px 0 10px 0;
	background-color: #515673;
}

nav a { 
	color: #a6abc5;
	display: block;
	margin: 15px;
	padding: 9px;
	border: 1px solid #a6abc5;
	background:url(../images/mobile_link_arrow.png) no-repeat right center;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
nav a:hover { color: #fff; background-color: rgba(255, 255, 255, .15); }

.promo_container { padding: 0; }

.promo_container .promo { 
	width: auto;
	float: none;
	padding: 10px 0 0 0;
	background-position: 20px 13px;
	border-top: 1px solid #ccc;
}
.promo_container .promo .content { padding: 0 20px 5px 90px; }






